# Rust
/backend/target/
/backend/.env

# Java / Gradle
/plugin/.gradle/
/plugin/build/
/plugin/.idea/
*.class

# Node / Svelte
/client-lite/node_modules/
/client-lite/build/
/client-lite/.svelte-kit/

# OS
.DS_Store
Thumbs.db
